*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
	height: 100%;	
	color: #fff;
	background: url(../img/body__top_left.png) no-repeat left top,
	url(../img/body__top_right.png) no-repeat right top,
	url(../img/main__picter.png) no-repeat right bottom ,
	url(../img/body__picter_hid.png) no-repeat right 290px top 160px,
	url(../img/body__buttom_left_blue.png) no-repeat left bottom,
	url(../img/body__buttom_left_yellow.png) no-repeat left bottom,
	url(../img/body__central_orange.png) no-repeat left 290px bottom 220px;
	background-size: 4%, 4%, 40%, 10%, 20%, 10%, 2% ;
	
	
	
	background-color: #1b1718;
}
.wrraper{
	display: flex;	
	flex-direction: column;

}
.header{
	display: flex;	
	justify-content: center;	
	padding: 7% 3% 3% 3%;
}
.header__nav{
	display: inline-block;
	width: 50%;	
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	word-spacing: 0.5em;
	text-align: right;
	margin-left: 5%;
		
}
.header__nav span{
	margin: 0 3%;
	

}
.header__toline{
	position: relative;	
	display: inline-block;	
}
.header__toline-1{
	border-top: solid #0046b9;
	border-bottom: solid #0046b9;	
	width: 4.5em;
	height: 0.7em;	
}
.header__toline-2{
	position: relative;
	bottom: 0.8em;
	left: 1em;	
	
	opacity: 0.5;	
}
.header__nav__span-home{
	padding: 0.8em 1.3em;	
	background-color: #de5e11;
	border-radius: 15px;
}
.header__nav__img-circly{
	margin-right: 15%;	
	width: 12%;
	
}
.main{
	flex:1 1 auto;
	text-align: center;
	display: inline-flex;
	flex-direction: column;
	width: 60%;


}
.main__title{
	padding:2% 1% 3% 1%;
	font-family: Poppins;
	font-size: 50px;
	line-height: 50px;
	font-weight: 500;
	letter-spacing: 0.05em;
	color: #f6f4f5;
}

.main__title span{
	font-weight: 700;
	color: #ffba4a;
}
.main__subtitle {
	padding: 0 0% 3% 0%;
	font-family: Poppins;
	font-size: 19px;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: 0.05em;
	color: #f6f4f5;
}
.main__button{
	font-weight: 700;
	color: #f6f4f5;
	padding: 0.9em 0  0.9em 0;
	margin-bottom: 3%;
	border: 3px solid #fff;
	border-radius: 10px;
	width: 25%;	
	margin-right:  auto;
	margin-left: auto;		
}	
.wrraper{
	min-height: 100%;	
	display: flex;	
	justify-content: space-between;	

}

.main__lorem{
	margin-right:  auto;
	margin-left: auto;	
	display: inline-block;	
	width: 35%;	
	font-weight: 500;
	line-height: 1.2;	
	letter-spacing: 0.05em;
	color: #f6f4f5;
}
.grey{
	position: relative;	
	border-top: solid #ffffff;
	border-bottom: solid #ffffff;	
} 
.rel{

}
.posishen{
	position: absolute;
	bottom: 46%;
	left: 9%;
}

.yellow{
		position: relative;	
		border-top: solid #ffba4a;
		border-bottom: solid #ffba4a;	

} 
.transform{
	transform: rotate(90deg);
	position: absolute;	
	left: 45%;	
	bottom: 40%;	


}
.footer{
	
	display: inline-flex;
	flex-direction: column-reverse;
}
.footer__bg{
	
	display: flex;
	justify-content: space-between;
	margin-right:  auto;
	margin-left: auto;
	width: 14em;	
	height: 4em;	
	background: #fff;
	background-color: #de5e11;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	padding: 1em 2em 1em 2em;	
	text-align: center;	
}

.footer__bg__img{
	width: 2em;	
}